/* Styling Dasar */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


/* Styling navbar yang bisa di gunakan disemua halaman, nantinya. */
nav {
    background-color: rgb(107, 176, 205);
    display: flex;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

}

nav h2 {
    flex: 1;
    padding-left: 20px;
    margin: 13px;
}

nav nav ul {
    padding-right: 20px;
}

nav ul li {
    flex: 1;
    display: inline;
    margin-right: 27px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    font-weight: bold;
}

/* Elemen aside sosmed */
aside div a img {
    transition: 0.3s;
}

aside div a img:hover {
    transform: scale(1.3);
}

@media (max-width: 576px) {
    nav ul li a {
        display: none;
    }
}