/* Styling yang memakai layout Grid.  */
.container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr repeat(2, 4fr) 3fr;
    grid-template-areas:
        'header header header header'
        'aside1 main main aside2'
        'footer footer footer footer';
    gap: 10px;
}

nav,
header {
    color: white;
}

header {
    background-color: #4fc2f7;
    padding: 70px;
    font-size: 20px;
    grid-area: header;
}

header h1,
header p {
    text-align: center;
}

main {
    grid-area: main;
}

.card {
    border: rgba(139, 139, 139, 0.479) solid 1px;
    padding: 30px;
    margin-bottom: 10px;
}

.card h1,
.card h2 {
    margin-top: 0;
}

main article img {
    max-width: 150px;
    float: left;
    padding-right: 20px;
}

#aside1 {
    grid-area: aside1;
    display: grid;
    justify-items: end;
    padding-top: 30px;
    padding-right: 5px;
}

#aside1 div a img {
    display: block;
    max-height: 45px;
}

#aside2 {
    background-color: sandybrown;
    grid-area: aside2;
}

footer {
    background-color: #009fc7;
    text-align: center;
    color: white;
    grid-area: footer;
    height: max-content;
    padding: 5px;
}

footer p {
    font-weight: bold;
}