/* Styling yang memakai layout Grid.  */
.container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr repeat(2, 4fr) 3fr;
    grid-template-areas:
        'header header header header'
        'aside main main form'
        'footer footer footer footer';
    gap: 10px;
}

nav,
header {
    color: white;
}

header {
    background-color: #4fc2f7;
    /* background-image: url(https://media.istockphoto.com/photos/app-icons-picture-id479762254?b=1&k=20&m=479762254&s=170667a&w=0&h=aJreSxsMx6TvB2JMVnHkuPkEOgEcwR3a2laGWE6snBA=); */

    padding: 70px;
    font-size: 20px;
    grid-area: header;
}

header h1,
header p {
    text-align: center;
}

main {
    grid-area: main;
}

.card {
    border: rgba(139, 139, 139, 0.479) solid 1px;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
}

.card h1,
.card h2 {
    margin-top: 0;
}

main article img {
    max-width: 150px;
    float: left;
    padding-right: 20px;
}

aside {
    grid-area: aside;
    display: grid;
    justify-items: end;
    padding-top: 30px;
    padding-right: 5px;
}

aside div a img {
    display: block;
    max-height: 45px;
}

form {
    grid-area: form;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: end center;
    grid-template-areas:
        'legend legend'
        'name box1'
        'comment box2'
        'send send';
    margin-right: 20px;
}

fieldset #nama {
    grid-area: name;
}

fieldset #name {
    grid-area: box1;
}

fieldset #komentar {
    grid-area: comment;
}

fieldset #comment {
    grid-area: box2;
}

fieldset #send {
    grid-area: send;
}

fieldset label {
    margin-right: 10px;
}

fieldset input {
    margin: 5px 0 5px 0;
}


/* Footer */
footer {
    grid-area: footer;
    background-color: #009fc7;
    text-align: center;
    color: white;
    padding: 5px;
    width: 100%;
    justify-items: stretch;
}

footer p {
    font-weight: bold;
}

@media (max-width: 700px) {
    .container {
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'main'
            'form'
            'aside'
            'footer';
        place-items: center;
        place-content: center;
    }

    aside {
        padding-top: 0;
    }

    aside div a img {
        display: inline;
        max-height: 45px;
    }

    fieldset {
        width: 100%;
    }
}