@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    display: inline;
}

#navTron {
    color: white;
    background: #009fc7;
    padding: 1px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#navTron ul li {
    padding-right: 20px;
    margin-right: 20px;
    padding: 0px;
    display: inline;
}

#navTron ul li a {
    color: white;
    text-decoration: none;
}

#navTron ul li a:hover {
    font-weight: bold;
}

#jumboTron {
    margin-top: 0;
    background: #00c7ed;
    padding: 80px;
    color: white;
    text-align: center;
    font-size: 20px;
}

main {
    margin: 25px;
}

.content {
    float: left;
    width: 88%;
}

.card {
    margin-bottom: 13px;
    padding: 30px;
    border: rgba(139, 139, 139, 0.479) solid 1px;
    border-radius: 10px;
}

article h1,
.card h2 {
    margin-top: 0;
}

.card p {
    text-align: justify;
}

#listArtc ol li a {
    text-decoration: none;
    color: darkcyan;
}

#listArtc ol li a:hover {
    color: #009fc7;
    font-weight: bold;

}

.logoApp {
    max-height: 150px;
    margin-bottom: 10px;
    padding-right: 25px;
}

aside {
    float: right;
    width: 11%;
    text-align: center;
    border: rgba(192, 192, 192, 0.479) solid 1px;
}

aside img {
    width: 35px;
    padding-bottom: 19px;
    transition: 0.2s;
}

aside a img:hover {
    transform: scale(1.3);
}

footer p {
    padding: 20px;
    text-align: center;
    background: #00c7ed;
    margin: 0;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {

    .logoApp {
        max-width: 40%;
    }

    .content,
    aside {
        width: 100%;
        padding: 0;
    }
}